*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
html{
    scroll-behavior:smooth ;
}
#header{
    width:100%;
    height: 100vh;
   /*background-image: url(bgphoto.jpeg);*/
   background-size: cover;
   background-position: center;
}
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    position: relative;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: mediumturquoise;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
   margin-top:20%;
   font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:mediumturquoise;
}
/*about*/
.about{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:1.5rem;
}
.about-img img{
    width: 20vw;
    border-radius: 100%;
    margin-right: 2rem;
    animation: floatImage 3s ease-in-out infinite;
    box-shadow: 0 0 0.5rem 0.5rem mediumturquoise;
}
.about-img {
    display: flex; 
    justify-content: flex-end; 
   
  }

@keyframes floatImage {
    0%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-2.3rem);
    }
    100%{
        transform: translateY(0);
    }
    
}
.skills{
    background:var(--secon-bg-color);  
}
.skill-main{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1ftr);
    grid-row-gap:30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 2.3rem;

}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align:center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width:100% ;
    height: 10px;
    background-color: grey;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;
    background: mediumturquoise;
    border-radius: 25px;
    box-shadow: mediumturquoise;
}
.skill-bar .bar .html{
    width:90%;
    animation: html 2s;
}
.skill-bar .bar .c{
    width: 80%;
    animation: c 2s;
}
.skill-bar .bar .java{
    width: 72%;
    animation: java 2s;
}
.skill-bar .bar .tableau{
    width: 65%;
    animation: tableau 2s;
}
.skill-bar .bar .excel{
    width: 90%;
    animation: excel 2s;
}
.skill-bar .bar .ml{
    width: 60%;
    animation: ml 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes ml{
    0%{
        width: 0%;
    }
    100%{
        width:60%;
    }
}
@keyframes excel{
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width:72%;
    }
}
@keyframes tableau{
    0%{
        width: 0%;
    }
    100%{
        width:65%;
    }
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width:80%;
    }
}

/*por*/
.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item {
        position: relative;
        border-radius: 15px;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-items {
            width: 100%;
            height: 100%;
            background-color:mediumturquoise;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3 {
                font-size: 1.5rem;
                color: black;
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: rgb(237, 245, 247);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i {
                        font-size: 1.5rem;
                        color: purple;
                        margin: 0 1rem;
                    }
                    &:hover {
                        background-color: palevioletred;
                        i { color: rgb(78, 0, 13); }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}
nav .fas{
    display:none ;

}

/* contact*/

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color:mediumturquoise;
  width: 100%;
  color:white;
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
/*btn style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 20px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background:mediumturquoise;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}
footer {
    background-color: #0cd6cc;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-bottom: 3px;
    color: #080808;
  }
  
  footer a {
    color: #000;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }